# Longitudinal analyses of UCHANGE data

**Kirstie Whitaker**
28th November 2016

I am another slide

Written in Markdown

In [5]:
import statsmodels.api as sm
import statsmodels.formula.api as smf

data = sm.datasets.get_rdataset('dietox', 'geepack').data

md = smf.mixedlm('Weight ~ Time', data, groups=data['Pig'])
mdf = md.fit()
print(mdf.summary())

          Mixed Linear Model Regression Results
========================================================
Model:            MixedLM Dependent Variable: Weight
No. Observations: 861     Method:             REML
No. Groups:       72      Scale:              11.3668
Min. group size:  11      Likelihood:         -2404.7753
Max. group size:  12      Converged:          Yes
Mean group size:  12.0
--------------------------------------------------------
             Coef.  Std.Err.    z    P>|z| [0.025 0.975]
--------------------------------------------------------
Intercept    15.724    0.788  19.952 0.000 14.180 17.269
Time          6.942    0.033 207.939 0.000  6.877  7.008
Intercept RE 40.399    2.166
========================================================

In [6]:
data.head()

     Weight       Feed  Time   Pig  Evit  Cu  Litter
0  26.50000        NaN     1  4601     1   1       1
1  27.59999   5.200005     2  4601     1   1       1
2  36.50000  17.600000     3  4601     1   1       1
3  40.29999  28.500000     4  4601     1   1       1
4  49.09998  45.200001     5  4601     1   1       1